<!DOCTYPE html>
<html>
<head>
    <title>Medicine List</title>
</head>
<body>
    <h1>Available Medicines</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Dosage</th>
            <th>Manufacturer</th>
            <th>Expiry Date</th>
            <th>Created At</th>
        </tr>
        {% for m in medicines %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.name }}</td>
            <td>{{ m.description }}</td>
            <td>{{ m.dosage }}</td>
            <td>{{ m.manufacturer }}</td>
            <td>{{ m.expiry_date }}</td>
            <td>{{ m.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>